<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="clase_23.entidades.Properties.Settings.Conexion" connectionString="Data Source=LAB4PC16;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>